[submodule "submodules/tmux"]
	path = submodules/tmux
	url = github-perso:StephaneTrebel/tmux.git
[submodule "submodules/dotfiles"]
	path = submodules/dotfiles
	url = github-perso:StephaneTrebel/dotfiles.git
[submodule "submodules/neovim"]
	path = submodules/neovim
	url = github-perso:StephaneTrebel/neovim.git
