[submodule "submodules/vim"]
	path = submodules/vim
	url = git@github.com:StephaneTrebel/vim.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = git@github.com:StephaneTrebel/tmux.git
[submodule "submodules/dotfiles"]
	path = submodules/dotfiles
	url = git@github.com:StephaneTrebel/dotfiles.git
[submodule "submodules/neovim"]
	path = submodules/neovim
	url = git@github.com:StephaneTrebel/neovim.git
